body {
	background-color: #f5f8fa;
}

.wrapper {
	width: 340px;
	margin-left: auto;
	margin-right: auto;
}

.login,
.signup
{
    margin: 15px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #e6ecf0;
}

.ca {
	margin-top: 15px;
}